* {
  box-sizing: border-box;
}

body {
  background-color: rgb(100, 98, 98);
}

main {
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  color: rgb(12, 72, 28);
  margin-right: 230px;
  margin-left: 10px;
}

#avatar {
  max-width: 90px;
}

button {
  width: 250px;
  margin: 15px;
  font-size: 40px;
  color: #2c7dca;
  background-color: rgb(71, 234, 182);
  border: 3px solid #13293d;
  flex: 1 0 200px;
  padding: 10px;
  margin-top: 50px;
}

button:hover {
  background-color: #4072b4;
  color: #fff;
}

button:active {
  font-size: 180%;
  box-shadow: 0 0 10px #000 inset;
}

h1 {
  color: rgb(82, 82, 82);
}

#backgroundimage {
  max-height: 300px;
  width: 100%;
}

aside {
  padding-bottom: 1450px;
  margin: 15px;
  float: left;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: darkgray;
  display: block;
}

aside p {
  font-size: 40px;
  text-align: right;
  margin-right: 15px;
  color: rgb(0, 100, 93);
  padding: 50px;
  flex-wrap: wrap;
  display: flex;
  max-width: fit-content;
}

p { 
  font-size: 30px;
  color: white;
}

section{ 
  padding-bottom: 50px;
  padding-top: 60px;
}

section .firstapplication .mywork {
  border-width: 5px;
  border-color: rgb(71, 234, 182);
  display: flex;
  flex-wrap: wrap;
}

section header {
  max-width: fit-content;
  font-size: 30px;
  position: relative;
  font-style: italic;
  font-weight: bolder;
}

.firstapplication {
  padding: 10px;
  border: rgb(71, 234, 182);
  border-width: 5px;
  border-style: solid;
  margin: 5px;
  max-width: 100%;
  float: right;
}

.mywork {
  padding: 10px;
  border: rgb(71, 234, 182);
  border-width: 5px;
  border-style: solid;
  margin: 5px;
  max-width: 80%;
  float: right;
}

.firstapplication img {
  width: 1000px;
  max-width: 100%;
}

.mywork img {
  width: 100%;
}

#contact{ 
  color: white;
  display: inline-block
}

/* section .mywork {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.mywork .firstapplication {
  padding: 10px;
  border: rgb(105, 105, 207);
  border-width: 5px;
  border-style: solid;
  margin: 5px;
  max-width: 80%;
  float: right;
}

.mywork header {
  padding: 20px;
  color: pink;
  background: rgb(38, 211, 245);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  max-width: 70px;
}


