* {
  box-sizing: border-box;
}


/* Background color of page */

body {
  background-color: rgb(100, 98, 98);
}

main {
  display: flex;
  flex-wrap: wrap;
}


section div {
  max-width: 100%;
  position: relative;
}


/* Header properties */

header {
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  color: rgb(90, 88, 88);
  margin-right: 230px;
  margin-left: 10px;
}

#avatar {
  max-width: 90px;
}

/* Properties of button tabs in navigation bar */

button {
  text-decoration: none;
  width: 250px;
  margin: 15px;
  font-size: 40px;
  color: #fff;
  background-color: rgb(71, 234, 182);
  border: 3px solid #13293d;
  padding: 10px;
  margin-top: 50px;
  margin-left: 30px;
}

button:hover {
  text-decoration: none;
  background-color: orange;
  color: #fff;
}

button:active {
  text-decoration: none;
  font-size: 180%;
  box-shadow: 0 0 10px #000 inset;
}

#backgroundimage {
  max-height: 300px;
  width: 100%;
}

/* Properties of side bar to left of page */

aside {
  padding-bottom: 1550px;
  margin: 15px;
  float: left;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: darkgray;
}

aside p {
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin-right: 15px;
  color: rgb(52, 159, 125);
  padding: 50px;
  flex-wrap: wrap;
  display: flex;
  text-size-adjust: 50%;
}

#asideaboutme{
  padding-top: 40px;
}

#asidemywork{
  padding-top: 120px;
}

#asidecontactme{
  position: relative;
  top: 1540px;
}

p { 
  font-size: 30px;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Properties of each section on main page */
section{ 
  padding-bottom: 50px;
  padding-top: 60px;
}

section header {
  max-width: fit-content;
  font-size: 30px;
  position: relative;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 10px;
}

.firstapplication {
  padding: 10px;
  border: rgb(71, 234, 182);
  border-width: 5px;
  border-style: solid;
  margin: 5px;
  max-width: 81%;
  float: right;
}

.mywork {
  padding: 10px;
  border: rgb(71, 234, 182);
  border-width: 5px;
  border-style: solid;
  margin: 5px;
  max-width: 40%;
  float: right;
}

.firstapplication img {
  width: 100%;
}

.applicationstitle {
  color: #000;
  background-color: rgb(71, 234, 182);
  position:relative;
  margin-left: 70%;
  text-align: center;
}

.mywork img {
  width: 100%;
}

/* Spacing of contact information */

#contact{ 
  word-spacing: 30px;
}

/* Adjustments to view webpage in different viewports / screen sizes */

@media screen and (max-width: 1370px) {
  aside {
    padding-bottom: 2200px;
  }

  #asidecontactme{
    position: relative;
    top: 2180px;
    right: 15px;}
  }

@media screen and (max-width: 992px) {
  button {
    display: block;
    margin: 10px;
  }

  aside {
    padding-bottom: 2000px;
  }

  #asidecontactme{
    position: relative;
    top: 2020px;
    right: 25px;
  }

  #contact{ 
    position: relative;
    left: 30px;
    bottom: -40px;}
}

@media screen and (max-width: 768px) {
  aside p {
    font-size: 25px;
  }

  aside {
    padding-bottom: 1800px;
  }

  button {
    width: 200px;
    margin: 5px;
    font-size: 30px;
    color: #2c7dca;
    background-color: rgb(71, 234, 182);
    border: 3px solid #13293d;
    padding: 0px;
    margin-top: 10px;
    display: block;
  }

  #asideaboutme{
    padding-top: 60px;
  }
  
  #asidemywork{
    padding-top: 260px;
    right: 30px;
  }
  
  #asidecontactme{
    position: relative;
    top: 1700px;
    right: 15px;
  }

  #contact{ 
    position: relative;
    left: 10px;
    bottom: -100px;}

}

@media screen and (max-width: 600px) {
 
  #contact{ 
    position: relative;
    left: 150px;
    bottom: 250px;
}

  aside p { 
    padding: 30px;
    font-size: 20px;
  }

@media screen and (max-width: 576px) {
  aside {
    padding-bottom: 1700px;
  }

  aside p { 
    padding: 30px;
    font-size: 20px;
  }

  #contact{ 
    position: relative;
    left: 130px;
    bottom: 150px;}

  #asidemywork{
    padding-top: 460px;
    right: 30px;
  }
}